.help {
   background-color: #fff;
   padding-top: 80px;
   padding-bottom: 100px;
}
.help-content {
   display: flex;
  
}
.help-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 1026px;
   height: 281px;
   gap: 55px;
   margin: auto;
}
.help-list__item {
   width: max-content;
   min-width: 135px;
   height: 113px;
   text-align: center;
   
}
.help-list__item:nth-child(6) {
   margin-left: 60px;
}
.help-list__item:nth-child(9) {
   margin-right: 60px;
}
.list-item__image {
   width: 60px;
   height: 60px;
   margin-bottom: 30px;
}
.list-item__title {
   font-size: 20px;
   font-weight: 400;
   line-height: 1.3;
   color: #545454;
}

@media (max-width: 1280px) {
   .help-list {
    width: 630px;
    height: 600px;
    gap: 60px;
   }
   .help-list__item:nth-child(6) {
      margin: 0;
   }
   .help-list__item:nth-child(9) {
      margin: 0;
   }
}

@media (max-width: 880px) {
   .help-content__title {
      font-size: 25px;
   }
   .help-list {
      width: 320px;
      gap: 30px;
      justify-content: flex-start;
      padding-left: 5px;
   }
   .help-list__item {
      width: 130px;
      height: 87px;
   }
   .list-item__image {
      width: 50px;
      height: 50px;
   }
   .list-item__title {
      font-size: 15px;
   }
}