.footer {
   background: radial-gradient(at left ,#513D2F, #1A1A1C);
   background-image: url(../../../../assets/images/footer-background.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 40px;
}
.footer__container {
   display: flex;
   justify-content: space-between;
}
.contacts {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.footer-contacts__title {
   color: #fff;
   font-size: 35px;
   font-family: 'Georgia';
   font-weight: 400;
   white-space: pre-line;
   line-height: 1.3;
   letter-spacing: .6;
   margin-bottom: 40px;
}
.contacts-email__email {
   color: #F1CDB3;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.3;
   letter-spacing: .6;
   display: flex;
   gap: 10px;
   margin-bottom: 40px;
}
.contacts-tel__tel {
   color: #F1CDB3;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.3;
   letter-spacing: .6;
   display: flex;
   gap: 10px;
}
.contacts-location__title {
   color: #fff;
   font-size: 35px;
   font-family: 'Georgia';
   font-weight: 400;
   white-space: pre-line;
   line-height: 1.3;
   letter-spacing: .6;
   margin-bottom: 34px;
}
.contacts-location__location {
   color: #F1CDB3;
   font-size: 20px;
   font-weight: 400;
   line-height: 1.3;
   letter-spacing: .6;
   white-space: pre-line;
   display: flex;
   gap: 10px;
   margin-bottom: 32px;
}
.contacts-location__location:last-child {
   margin-bottom: 0;
}