.pets {
   width: 100%;
   height: 1342px;
   background-color: #f6f6f6;
   padding-top: 80px;
}
.pets__title {
   font-size: 35px;
   line-height: 1.3;
   font-weight: 400;
   margin-bottom: 25px;
   color: #545454;
   white-space: pre-line;
   text-align: center;
   margin-bottom: 60px;
}
.slider {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 60px;
   position: relative;
}
.slider__list {
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
   position: relative;
   margin-bottom: 40px;
}
.slider-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 270px;
   height: 435px;
   justify-content: space-between;
   background-color: #fafafa;
   transition: all 2s ease;
   border-radius: 9px;
   box-shadow: 1px 1px 3px #999999;
}
.slider-card:hover  .slider__button{
   background-color: #FDDCC4;
}
.slider-card:hover .button-section{
   background-color: #fff;
}
.slider-card:hover {
   box-shadow: 0 24px 28px rgba(0,0,0,0.08), 0 10px 10px rgba(0,0,0,0.03);;
}
.button-section {
   width: 100%;
   height: 100%;
   background-color: #fafafa;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 30px;
   border-bottom-left-radius: 9px;
   border-bottom-right-radius: 9px;
   transition: all 2s ease;
}
.slider__button {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   width: 187px;
   height: 52px;
   color: #292929;
   border: 2px solid #F1CDB3;
   transition: all 1s ease;
}
.slider__button-bgc{
   background-color: #F1CDB3;
   text-align: center;
   max-width: min-content;
}
.slider-card__title {
   font-size: 20px;
   color: #545454;
   font-weight: 400;
   line-height: 1.13;
   padding-bottom: 30px;
}
.slider-buttons__list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.slider-button__item,
.pagination-button__item {
   width: 52px;
   height: 52px;
   border-radius: 100%;

}
.disabled {
   border: 2px solid #cdcdcd;
   opacity: 0.3;
}
.active {
   border: 2px solid #F1CDB3;
}
.arrowleft {
   background-repeat: no-repeat;
   background-size: cover;
   rotate: 180deg;
}
.arrowright {
   width: 52px;
   height: 52px;

}
.arrow--right{
   background-repeat: no-repeat;
   background-size: cover;
}
.slider-button__item_number {
   background-color: #F1CDB3;
   border: 2px solid #F1CDB3;
}

@media (max-width: 1279px) {
   .pets {
      height: auto;
      padding-bottom: 100px;
   }
   .slider__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   .slider-card:nth-child(4n) {
      display: none;
   }
}
